/* Global variants */
:root {
  --page-left-padding: 1.5%;
}

@media screen and (width >= 768px) {
  .menu > div:nth-child(1) {
    top: 90px;
  }
  .menu > div:nth-child(2) {
    top: 40px;
    right: 10px;
  }
  .menu > div:nth-child(3) {
    bottom: 10px;
  }
}
/* General Setting */
* {
  font-family: "Bowlby One SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.hidden {
  display: none;
}
.menu {
  width: auto;
  position: relative;
}
.menu * {
  margin: 0;
}

.menu > div {
  position: relative;
}
body {
  background-color: black;
  margin: 0;
  width: 100%;
  
}
#index-body {
  overflow: hidden;
}
#index-page-bg {
  text-align: center;
  height: 100vh;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
#welcome {
  margin: 0;
  font-size: 45px;
  color: white;
  opacity: 0%;
  animation: fadeIn 1.5s ease-in forwards;
  user-select: none;
}

.menu a {
  font-size: 90px;
  text-decoration: none;
  display: inline-block;
  color: #ff3f95;
}

.menu > div:nth-child(2) > a {
  color: #d10561;
}

.menu > div:nth-child(4) > a {
  color: #d10561;
}

.menu-li p {
  user-select: none;
  transition: 0.25s;
}

.menu-li p:hover{
  transform: scale(1.1);
  color: rgb(240, 164, 1);
}

.menu-li p:active {
  transform: scale(0.95);
}

@keyframes fadeIn {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.footer {
  border-top: solid 1.5px rgb(84, 83, 83);
  color: white;
  background-color: black;
  padding: 10px 0 10px var(--page-left-padding);
}
.footer p {
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 250; /* <weight>: Use a value from 200 to 1000 */
  font-style: normal;
  font-size: 15px;
  user-select: none;
}

/* Hover thumbnail effect */
.menu-li {
  position: relative;
}
.thumbnail {
  position: absolute;
  left: 70%;
  top: 15%;
  width: 400px;
  height: auto;
  border-radius: 10px;
  border: 2px white solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: .25s;
  opacity: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 30px 0 15px 0;
}
.menu-li a:hover ~ .thumbnail {
  transform: translateY(-120px);
  opacity: 1;
}
.thumbnail-img {
  width: 250px;
  height: auto;
  margin-bottom: 10px;
}
.thumbnail-text {
  color: white;
  font-size: 24px;
  font-family: "Nunito", sans-serif;
}

@media screen and (max-width: 991px) {
  #welcome { font-size: 45px; }
  .menu a { font-size: 80px; }
  .thumbnail { width: 60%;}
  .thumbnail-img { width: 90%; }
}

@media screen and (max-width: 768px) {
  #welcome { font-size: 40px; }
}
@media screen and (max-width: 576px) {
  .menu a {
    font-size: 45px;
  }
  #welcome { font-size: 30px; }
}
